.club-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.left-side {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
}

.title-name h1 {
    font-size: 5vw;
}

.title-name {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(25, 121, 230);
}

.font-awesome {
    height: 80px;
    width: 50%;
}

.right-side {
    width: 100%;
}


@media only screen and (max-width: 768px) {

    /* For tablet: */
    .club-container {
        display: flex;
        flex-direction: column-reverse;

    }

    .left-side {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 20px;
    }

}

@media only screen and (max-width: 425px) {

    /* For mobile: */
    .club-container {
        display: flex;
        flex-direction: column-reverse;

    }

    .left-side {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

}